body {
  background: #e4e4e4;
  color: #333333;
  padding: 0;
  margin:0;
  font-family: 'Ubuntu','Roboto','Open Sans',sans-serif;
}
a {
  color: #9359fa;
}
a:visited {
  color: #9359fa;
}
h3 {
  margin-top:0px;
  margin-bottom: 15px;
  color: #333333;
}
input, button {
  border-radius: 2px;
  border: 1px solid #dddddd;
  padding: 5px;
  margin:5px;
}
input::-moz-focus-inner,button::-moz-focus-inner {
  border: 0;
}
button:focus,input:focus {
  border: 1px solid #bbaaff;
  outline: none;
}
button{
  background: #f4f4f4;
  color: #333333;
}
button[disabled],button[disabled]:hover  {
  background: #ffffff;
  color: #aaaaaa;
}
button:hover {
  background: #ffffff;
}
button:active {
  background: #ffffff;
  border: 1px solid #dddddd;
}
input[type="text"]{
  color:  #666666;
}

textarea {
  width: 100%;
  height: 200px;
  resize: vertical;
}

.header {
  color: white;
  background: #9359fa;
  border-bottom: 1px solid #452775;
  height: 20px;
  padding:12px;
  padding-top:6px;
  font-size:18px;
  font-weight: bold;
}
.header-shadow {
  height: 3px;
  border-top: 1px solid #727630;
  background: #f6ff72;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 20px;
}
.content {
  background: white;
  color: #333333;
  border-radius: 5px;
  border: 1px solid #dddddd;
  margin: auto;
  padding: 20px;
  padding-top:15px;
}
.content.splash {
  max-width: 800px;
}
.content.main {
  width: 90%;
}
.progress-bar-holder {
  margin-top: 15px;
  margin-bottom: 5px;
  height: 25px;
  width: 100%;
}
.progress-bar {
  background:#00e540;
  height: 5px;
  margin: 5px;
}
.instructions {
  font-size: 12px;
}
.modal-container {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(230,230,230,0.7);
  z-index: 100;
}
.modal {
  margin-top: 100px;
  max-width: 800px;
}
#file-list-content ul {
  list-style-type: none;
  border-bottom: 1px solid #eeeeee;
  padding-left: 0;
}
#file-list-content li {
  border-top: 1px solid #eeeeee;
  padding: 10px;
}
.saved-status-indicator {
  border-radius: 3px;
  background: #00e540;
  padding: 5px;
  color:white;
  font-weight: bold;
  float:right;
}
