
<div ng-show="!vm.loggedIn">

  <h3>login</h3>


  <div ng-show="vm.generatingNewPassphrase" style="width:100%;">
    <h3>move your mouse around to generate entropy</h3>
    <div style="background:green; height:5px; width:0;" ng-style="{'width': vm.generatingNewPassphraseProgress+'%'}"></div>
  </div>

  <div class="well">
    <div style="padding-bottom:20px;">
      <button style="float:right;" class="btn btn-info" ng-click="vm.generateNewPassphrase()">
        generate secure passphrase
      </button>
    </div>
    <label for="passphrase">
        passphrase:
    </label>
    <input name="passphrase" class="form-control" ng-model="vm.passphrase"></input>
	  <p style="padding-top:20px;">
      <ul>
        <li>Enter the passphrase you used when you logged in for the first time.</li>
        <li>Are you new here?
          <ul>
            <li>This is an encryption key, not a password. Save it somewhere so you dont lose it. We can't recover it for you.</li>
            <li>This is the only thing protecting the data you enter here from being publicly avaliable, so it should be long and hard to guess.</li>
            <li>If you are in doubt click generate. </li>
          </ul>
        </li>
      </ul>
    </p>
  </div>

  <button class="btn btn-success" ng-click="vm.login()">login</button>
</div>

<div ng-show="vm.loggedIn">

  <drag-and-drop-file callback="vm.onFilesDropped(dataTransfer)">
    Drop CSV File(s) Here
  </drag-and-drop-file>

</div>
